@font-face
{
    font-family: Arcade;
    src: url(../Fonts/ARCADE_N.TTF);
}

@font-face
{
    font-family: PixelSplitter;
    src: url(../Fonts/PixelSplitter-Bold.ttf);
}

body
{
    margin:0;
    font-family: Arcade;
}

canvas
{
    width:100%;
    height:100%;

    /*background: url(../Images/sunset.png) no-repeat center center;*/
    background-size: cover;
}

h1
{
    text-align: center;
}

#gameContainer
{
    width:100vw;
    height: 100vh;
}

button
{
    width:266px;
    height: 57px;

    background-color:#f4a343;

    font-size: 20px;
    padding:0;

    font-family: Arcade;

    border:none;
}

#tryAgainButton
{
    position: absolute;
    bottom:105px;
    left:calc(50% - 133px);
}

#shareButton
{
    position: absolute;
    bottom:25px;
    left:calc(50% - 133px);
}

.distText
{
    position: absolute;
    width:100%;
    text-align: center;
    color:white;
}

#distTraveledText
{
    top:25px;
}

#distTraveled
{
    top:75px;
}

#gameWonText
{
    position: absolute;
    top:50%;
    width:100%;
    text-align: center;
}



.fullscreenUI_Container
{
    position: absolute;
    width:100vw;
    height:100vh;
    top:0;
    left:0;
}

.UI_Background
{
    width:100%;
    height:100%;
}

.logo
{
    width:150px;
    height:63px;
}

.lostLogo
{
    position: absolute;
    top:25px;
    left:calc(50% - 75px);
}

.gameOverImg
{
    width: 330px;
    height: 186px;

    position: absolute;
    top:175px;
    left:calc(50% - 165px);
}

.lostScreenText
{
    margin: 5px auto;

    font-size: 22px;

    width:40vw;
    left:30vw;

    text-align: center;
    color:white;
}

.lost_T1
{
}

.lost_T2
{
    font-size: 42px;
    font-family: PixelSplitter;
}

.lost_T3
{
}

.lost_T4
{
    width:20%;
    min-width: 450px;

    margin-top: 25px;
}

.lostscreen_textcontainer
{
    position: absolute;
    bottom:22%;
    width:100%;
}

#distanceProgressBar
{
    position: absolute;
    transform: rotate(-90deg);
    top:50%;
    right:-275px;

    
    border-radius: 3px;
    width:600px;
    height:5px;
}

.distanceCheckpointBar
{
    width:20px;
    height:2px;
    background: grey;

    position: absolute;
    right:30px;
}
/* Top */
#distanceCheckpointBar1
{
    top:calc(50% - (600px / 2));
}
/* Top Quater */
#distanceCheckpointBar2
{
    top:calc(50% - (600px / 4));
}
/* Middle */
#distanceCheckpointBar3
{
    top:50%;
}
/* Bottom Quater */
#distanceCheckpointBar4
{
    top:calc(50% + (600px / 4));
}

/* Bottom */
#distanceCheckpointBar5
{
    top:calc(50% + (600px / 2));
}

#progressText
{
    position: absolute;
    width:100%;
    text-align: center;
    color:white;
    top:50%;
}

#wonUIContainer
{
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    height: 100vh;
}

#congratizImg
{
    position: absolute;

    width:80vw;
    left:calc(50% - (80vw/2));
    top:50px;

}

.wonScreenText
{
    text-align: center;
    color:white;
}

#wonScreen_textContainer
{
    position: absolute;
    width:100%;
    top:250px;
}

#wonScreenText1
{
    
}

#wonScreenText2
{
    margin:0 15%;
}

.evansStoreButton
{
    position: absolute;

    bottom:185px;
    left: calc(50% - 133px);
}

.wonScreen_PlayAgainButton
{
    position: absolute;
    bottom:105px;
    left: calc(50% - 133px);
}

.wonScreen_ShareButton
{
    position: absolute;
    bottom:25px;
    left: calc(50% - 133px);
}

#countdownImage
{
    position: absolute;
    top:calc(50% - 125px);
    left:calc(50% - 125px);
    
    width:250px;
    height:250px;
}

#darknessOverlay
{
    position: absolute;
    width:100vw;
    height:100vh;
    left:0;
    top:0;
}

#startScreen_BackgroundImage
{
    position: absolute;

    top:0;
    left:0;

    width:100vw;
    height: 100vh;

    z-index: -1;
}

#startScreen_Logo
{

}

#startScreen_hero
{
    width: 45vh;
    position: absolute;
    top: 25px;
    left: calc(50% - 45vh / 2);
}

/* Start Screen "Scene" Elements */
#startScreen_obstacle_one
{
    position: absolute;
    left:20%;
    bottom:40%;

    width:15%;
}

#startScreen_obstacle_two 
{
    position: absolute;
    right:13%;
    bottom:33%;

    width:25%;
    max-width: 400px;
}

#startScreen_player
{
    position: absolute;
    left:32%;
    top:44%;

    width:30%;
    max-width: 500px;
}

#startScreen_textContainer
{
    position: absolute;
    width: 100%;
    bottom: 105px;
}

.startScreen_text
{
    text-align: center;
    color:white;
    margin:20px;
    font-size: 1.2vh;
}

#startScreen_text1
{
    font-size: 2vh;
    margin:0 24%;
}

#startScreen_text2
{

}

#startScreen_text2 p
{
    margin:0;
}

#startScreen_nextButton
{
    position: absolute;
    left:calc(50% - 150px);
    bottom: 50px;
}

#startScreen_soundButton
{
    border-radius: 50px;
    width:57px;

    position: absolute;
    bottom:50px;
    left:calc(50% - 57px/2 + 150px + 25px);
}

#startScreen_soundButton_Image
{
    width:75%;
    height:75%;
    margin:12.5%;
}

#startScreenContainer
{
    position: absolute;
    top:0;
    left:0;

    width:100vw;
    height:100vh;
}

#controls_container
{
    height:100vh;
    width:100vw;
}

#controls_logo
{
    position: absolute;
    top: 25px;
    left: calc(50% - 100px);
    width:200px;
}

#controls_hero
{
    position: absolute;
    top: 180px;
    width: 40vw;
    left: calc(50% - (40vw / 2));
}

#controls_textContainer
{
    position: absolute;
    width: 100%;
    bottom: 150px;
}

.controls_text
{
    text-align: center;
    color:white;
    font-size: 2vh;
}

#controls_text1
{
    margin:5% 28%;
}

#controls_text2
{

}
#controls_text3
{

}
#controls_text4
{

}

#controls_nextButton
{
    position: absolute;
    bottom: 50px;
    left: calc(50% - 150px);
}

#controls_previousButton
{
    position: absolute;
    bottom: 50px;
    left: calc(50% - 133px - 100px);
    width: 57px;
    border-radius: 50px;
}

#controls_previousButton img
{
    width:75%;
    height:75%;
    margin:12.5%;
}

#shareContainer
{
    position: absolute;
    width:100%;
    bottom:0;
    background: rgba(0,0,0, 0.8);
    min-height: 250px;
    text-align: center;
}

.shareButtonLink
{
    width:100px;
    height: 100px;
    margin:75px 25px;
}

progress::-webkit-progress-bar {
    background-color: rgb(115,115,115);
}
progress::-webkit-progress-value {
    background-color: white;
}